link text: home
views: 1
last viewed: 2020-06-01

.index-by-category
  %h1 category
  - index_by_category

.index-by-most-often
  %h1 most often
  - index_by_most_often(15)

.index-by-most-recent
  %h1 most recent
  - index_by_most_recent(15)
